.restaurant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Nova Mono", monospace;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    padding: 40px 40px;
}

.search-container{
    width: 35%;
    display: flex;
    gap: 10px;
    padding-top: 20px;
    

}

.search-container input{
    width: 100%;
    border: none;
    background-color: #dbdbdb;
    border-radius: 10px;
    text-indent: 8px;
    height: 33px;
    font-family: "Nova Mono", monospace;
}

.search-container button{
    background-color: #000;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
    font-family: "Nova Mono", monospace;
}

@media screen and (max-width:1200px) {
    .card-container{
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width:900px) {
    .card-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:600px) {
    .card-container{
        grid-template-columns: repeat(1,1fr);
    }
}