.card{
    background-color: #e6f4f4ed;
    border-radius: 12px;
    overflow: hidden;
    font-family: "Nova Mono", monospace;
}

.card button{
  padding: 8px 0;
  border: none;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  width: 100%;
  font-family: "Nova Mono", monospace;
}

.card-img-wrapper{
  height: 70%;
}

.card-img-wrapper img{
  width: 100%;
  height: 100%;
}
.card-content-wrapper{
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
}

.card-btn-wrapper{
  width: 90%;
  margin: auto;
}


.card-content-wrapper .heading{
  font-size: 14px;
}

.card-content-wrapper .cuisine-names, .rating, .cost-for-two, .delivery-time{
  font-size: 12px;
}